body {
    background-color: mediumpurple;
}
.container {
    margin: auto;
    padding: 10px;
    font-size: 30px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white-keys kbd {
    background-color: white;
    border-width: 120px 20px 100px;
    border-style: solid;
    border-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 6px 9px 0px rgba(50, 50, 50, 0.75);
    color: white;
    float: right;
}
.black-keys kbd {
    background-color: black;
    border-width: 110px 10px 5px;
    border-style: solid;
    border-color: black;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 0px 10px -7px #000000;
    margin-left: -125px;
    margin-right: 20px;
}